name: check_updates

on:
  workflow_dispatch:
  schedule:
    # do this once a week
    - cron: "0 7 * * 2"

jobs:
  build:
    name: check updates
    if: github.repository == 'dprint/dprint-plugin-roslyn'
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_DPRINTBOT_PAT }}

      - uses: denoland/setup-deno@v2
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Run script
        run: |
          git config user.email "dprintbot@users.noreply.github.com"
          git config user.name "dprintbot"
          deno run -A ./scripts/update.ts
